extends layout

block content
  script(src="/javascripts/busi/source.js")
  h1= title
  input(type="button", value="Test Connection" onclick="connect()")
  p ip address
  input(type="text" id="address")
  p port
  input(type="text" id="port")