extends layout

block content
  h1= title
  form(action="/source", method="post")
    input(type="submit", value="Test Connection")
    p ip address
    input(type="text" id="address" name="address")
    p port
    input(type="text" id="port" name="port")