extends layout

block content
  script(src="./javascripts/busi/source.js")
  h1= title
  div(class="spinner" id="loading")
    div(class="rect1")
    div(class="rect2")
    div(class="rect3")
    div(class="rect4")
    div(class="rect5")
  div
    div(class="col-xs-3")
      p ip地址
      input(id="address" name="address" type="text")
    div(class="col-xs-3")
      p 端口
      input(id="port" name="port" type="text")
    div(class="col-xs-3")
      p 数据库
      input(id="dbName" name="dbName" type="text")
    div(class="col-xs-3")
      p 集合
      input(id="collName" name="collName" type="text")
  div(id="toolbar" class="btn-group")
    button(class="btn btn-default" id="submit")
      span(class="glyphicon")载入数据
    button(class="btn btn-default" id="submit")
      span(class="glyphicon")导出数据
  table(id="table")